<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.example.helloandroid">
    <application android:icon="@drawable/icon" android:label="HelloAndroid">
         <activity android:name=".HelloAndroid" android:label="HelloAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
